@import './font.css';

body {
  margin: 0;
}

.page-wrapper {
  display: flex;
}

@media (max-width: 1024px) {
  .page-wrapper {
    flex-direction: column;
  }
}

.page {
  flex: 1;
  height: 100vh;
  background-color: #fff;
}

.container {
  max-width: 768px;
  padding: 0 4rem;
  margin: 4rem auto;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.logo {
  width: 80px;
}

.title {
  margin: 3rem 0 2rem;
  font-size: 2rem;
  font-weight: normal;
  color: #292933;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.input__label {
  margin: 0.5rem 0;
}

.input__text {
  max-width: 656px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px #c8c8de solid;
  outline: none;
  transition: border-color 0.5s;
}

.input__text:focus {
  border-color: #4c4cfc;
}

.row {
  margin: 0.25rem 0;
  color: #292933;
}

.link {
  color: #434391;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.5s;
}

.link:hover {
  color: #4c4cfc;
}

.button {
  display: block;
  padding: 0.8rem 1rem;
  margin: 2rem auto;
  font-size: 1rem;
  color: #434391;
  background-color: white;
  border: 1px #434391 solid;
  outline: none;
  transition: color 0.5s, border-color 0.5s;
}

.button:hover {
  color: #4c4cfc;
  border-color: #4c4cfc;
}
