@import './font.css';

body {
  margin: 0;
}

.page-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .page-wrapper {
    grid-template-columns: 1fr;
  }
}

.page-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #181924;
}

@media (max-width: 1024px) {
  .page-cover {
    display: none;
  }
}

.page-cover--init {
  right: 50%;
  left: 0%;
}

.page-cover--left {
  animation: translate-left 1s ease forwards;
}

.page-cover--right {
  animation: translate-right 1s ease forwards;
}

.page {
  flex: 1;
  height: 100vh;
  background-color: #fff;
}

.container {
  max-width: 768px;
  padding: 0 4rem;
  margin: 4rem auto;
}

.logo {
  width: 80px;
}

.banner {
  max-width: 512px;
}

.title {
  margin: 3rem 0 2rem;
  font-size: 2rem;
  font-weight: normal;
  color: #181924;
}

.input {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.input__label {
  margin: 0.5rem 0;
  color: #181924;
}

.input__text {
  max-width: 656px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #181924;
  border: none;
  border-bottom: 1px #c8c8de solid;
  outline: none;
  transition: border-color 0.5s;
}

.input__text:focus {
  border-color: #4c4cfc;
}

.row {
  margin: 0.25rem 0;
  color: #181924;
}

.link {
  font-size: 1rem;
  color: #434391;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.5s;
}

.link:hover {
  color: #4c4cfc;
}

.float-text {
  float: right;
}

.button {
  display: block;
  padding: 0.8rem 1rem;
  margin: 2rem auto;
  font-size: 1rem;
  color: #434391;
  background-color: white;
  border: 1px #434391 solid;
  outline: none;
  transition: color 0.5s, border-color 0.5s;
}

.button:hover {
  color: #4c4cfc;
  border-color: #4c4cfc;
}

@keyframes translate-left {
  0% {
    right: 0;
    left: 50%;
  }

  50% {
    right: 0;
    left: 0;
  }

  100% {
    right: 50%;
    left: 0;
  }
}

@keyframes translate-right {
  0% {
    right: 50%;
    left: 0;
  }

  50% {
    right: 0;
    left: 0;
  }

  100% {
    right: 0;
    left: 50%;
  }
}
